body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-align: center;
}

.container {
    width: 100%;
    max-width: 600px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.headerinfo {
    width: 100%;
    max-width: 600px;
    text-align: center;
    padding: 20px;
    margin-bottom: 30px;
    color: black;
    border-radius: 5px;
    font-family: "Spectral SC", serif;
    font-weight: 400;
    font-style: normal;
}

.icon {
    width: 50px;
    height: 50px;
    margin-right: 8px;
    vertical-align: middle;
}

.create-container {
    background-color: #a48c79ff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px black;
    font-family: "Spectral SC", serif;
    font-weight: 800;
    font-style: normal;
    text-align: left;
}

.create-container label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: black;
    font-family: "Spectral SC", serif;
    font-weight: 800;
}

.create-container input[type="text"],
.create-container input[type="number"],
.create-container select,
.create-container textarea {
    width: 100%;
    padding: 12px;
    margin: 8px 0 16px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    font-family: "Spectral SC", serif;
    font-weight: 400;
}

.create-container input[type = "submit"] {
    width: 100%;
    margin-top: 30px;
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
    font-family: "Spectral SC", serif;
    font-weight: 400;
}

.create-container input[type="submit"]:hover {
    background-color: #504136ff;
    transform: scale(1.05);
}

.drag-drop {
    border: 2px dashed #504136ff;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
    background-color: #fdf6f0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.drag-drop:hover {
    background-color: #f0e6dc;
}

.drag-drop p {
    margin: 0;
    font-family: "Spectral SC", serif;
    font-weight: 400;
    font-size: 16px;
}

.preview-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    gap: 10px;
}

.preview-container .preview {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 4px solid white;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
}