body {
    font-family: "Spectral SC", serif;
    color: #050d10ff;
    background-color: #fcfcfc;
    margin: 0;
    padding: 0;
}

h1, h2 {
    color: #504136ff;
}

.container {
    width: 80%;
    margin: 0;
    padding: 20px;
}

header {
    background-color: #a48c79ff;
    color: #fcfcfc;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 2.5em;
    font-weight: 800;
    margin: 0;
}

/* navigation */
nav {
    display: flex;
    justify-content: center;
    background-color: #504136ff;
    padding: 10px;
}

nav a {
    color: #fcfcfc;
    margin: 0 15px;
    text-decoration: none;
    font-weight: 400;
}

nav a:hover {
    color: #a48c79ff;
}

/* About Us & Mission Section */
.section {
    padding: 40px 20px;
    background-color: #a48c79ff;
    color: #fcfcfc;
    margin-top: 20px;
    border-radius: 8px;
}

.section h2 {
    font-size: 2em;
    font-weight: 800;
    margin-bottom: 10px;
}

.section p {
    font-size: 1.1em;
    line-height: 1.6;
}

/* Footer */
footer {
    background-color: #050d10ff;
    color: #fcfcfc;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    font-size: 0.9em;
}